header.b-header#header
	.b-header__row
		.container
			.b-header__box__item
				.b-header__item
					span.fas.fa-phone.b-header--top
					p.b-header__phone +84 90 658 2725
					span.fas.fa-map-marker.b-header--left.b-header--top
					p.b-header__location 27 Ba Trieu St, Vietnam
				.b-header__social
					a(href="#").fab.fa-twitter.b-header__link__twit.b-header__link
					a(href="#").fab.fa-facebook-f.b-header__link__face.b-header__link
					a(href="#").fab.fa-youtube.b-header__link__you.b-header__link
					a(href="#").fab.fa-instagram.b-header__link__inst.b-header__link
					a(href="#").fab.fa-flickr.b-header__link__flick.b-header__link
	.container
		a(href="#")
			img(src="img/logo.png", alt="").b-header__logo
		.b-header__menu
			ul
				li
					a(href="#header") Home
				li
					a(href="#service") service 
				li
					a(href="#wedding") gallery     
				li
					a(href="#") channel   
				li
					a(href="#blog") blog
				li
					a(href="#") team    
				li
					a(href="#contact") contact
		#toggle.button_container
			span.button__span.top
			span.button__span.middle
			span.button__span.bottom
		#overlay.overlay
			nav.overlay-menu
				ul
					li
						a(href='#header').overlay__link Home
					li
						a(href='#service').overlay__link About
					li
						a(href='#').overlay__link Menu
					li
						a(href='#').overlay__link Reservations
					li
						a(href='#').overlay__link Blog
					li
						a(href='#').overlay__link Shop
					li
						a(href='#').overlay__link Contact

		.b-header__box
			h1.b-header__box__title It’s 
				span.b-header--color Fun 
				| To Make Things Up
			p.b-header__box__text Have you ever wondered if what you know about herbal breast enlargement is accurate?
			.b-header__item__btn
				a(href="#").b-header__btn About Us
				a(href="#").b-header__btn__video  Watch Video
				
					i.fas.fa-play.b-header__icons__play
			iframe(src='https://www.youtube-nocookie.com/embed/aWhFs0ndDsM?rel=0&controls=0&showinfo=0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='allowfullscreen',volume='mute').b-header__video#myVideo
			img(src="img/hamburger.png", alt="hamb").video__span

